
.navbar-brand {
font-size: 1.8rem;
}

.jumbotron {
background-image: url('https://example.com/path-to-your-image.jpg');
background-size: cover;
color: white;
}

.gallery img {
width: 80%;
height: auto;
}

h1,
p {
color: black;
}

h3 {
text-align: center;
}

section {
display: -webkit-flex;
display: flex;
}

/* Style the navigation menu */
nav {
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
padding: 20px;
}

/* Style the list inside the menu */
nav ul {
list-style-type: none;
padding: 0;
}

/* Style the content */
article {
-webkit-flex: 3;
-ms-flex: 3;
flex: 3;
background-color: #f1f1f1;
padding: 10px;
}